.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
   
    
}

.header-title {
    background: -webkit-linear-gradient(#a3a3a396, #fdfdfdce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
    z-index: 2;
    position: absolute;
    text-align: center;
    margin-top: 30vh;
    font-size: 7em;
    transform: skewX(5deg) rotateX(7deg) rotateZ(2deg);
    @media only screen and (max-width: 1000px) {
        margin-top: 30vh;
        font-size: 4em;
    }
    
}

.header-title-special {
    background: -webkit-linear-gradient(#48d2ebaf, #2480f7ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-title-scroll {
    color: white;
    font-size: 2em;
    font-weight: 300;
    z-index: 0;
    @media only screen and (max-width: 1000px) {
        font-size: 1em;
    }
}

.IDE {
    width: 50vw;
    box-shadow: 2px 2px 8px 6px rgb(34, 34, 34);
    border-radius: 25px;
    margin-top: 20vh;
    z-index: 1;
     
}