.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
   
    
}

.header-title {
    color: white;
    letter-spacing: 1.5px;
    z-index: 2;
    text-shadow: 3px 8px 8px rgb(37, 37, 37);
    position: absolute;
    text-align: center;
    margin-top: 17%;
    font-size: 5em;
    transform: skewX(5deg) rotateX(10deg) rotateZ(2deg);
    
}

.header-title-special {
    color: rgba(65, 131, 255, 0.918);
}

.IDE {
    width: 50vw;
    box-shadow: 2px 2px 8px 6px rgb(34, 34, 34);
    border-radius: 25px;
    margin-top: 20vh;
     
}