.homepage {
  background: rgb(7, 7, 7);
  overflow-x: hidden;
  height: 1000vh;
}

//This hero needs to have higher height than the Hero component in order for it not to behave strangely (project cards)
.hero {
  // background-image: url('../assets/bg-test.jpg');
  // background-size: 220%;
  // background-repeat: no-repeat;
}

.canvas {
  z-index: 1;
}
