.nav-wrapper {
    background-color: blue;
    height: 70px;
    width: 70px;
    position: fixed;
    border-radius: 50%;
    right: 0;
    top: 20px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    justify-content: center;;
    cursor: pointer; 
    
}

.nav-wrapper[data-menuOpen="true"] {
    width: 80%;
    height: 90vh;
    border-radius: 30px;
    align-items: flex-start;
    justify-content: flex-end;

    background-color: blue;
}

.nav-wrapper-open {
    background-color: transparent;
    height: 70px;
    width: 100%;
    position: fixed;
}

.visible-nav {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.not-visible-nav {
   @extend .visible-nav;
    opacity: 0;
    transition: 0.7s ease all;
    
}

.nav-icon-shape {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

#menu-icon {
    width: 25px;
    height: 25px;
   
}

.menu-icon-on {
    opacity: 1;
    transition: 0.7s ease all;

}

.menu-icon-off {
    opacity: 1;
    transition: 0.6s ease all;
}