.pc-container {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s ease;
  &:hover .pc-title {
    transform: scale(1.02);
  }
  &:hover .divider {
    width: 100%;
  }
  &:hover .skill {
    color: rgba(73, 192, 228, 0.753);
  }
  &:hover .pc-header-image {
    transform: scale(1.02);
  }
  @media only screen and (max-width: 550px) {
    width: 90%;
  }
}

.selected-container {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  animation: fadein 700ms;
  transition: 0.7s ease all;
}

.pc-title {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 4em;
  margin-bottom: 10px;
  letter-spacing: 2px;
  z-index: 3;
  transition: 0.7s ease all;
  @media only screen and (max-width: 550px) {
    font-size: 2.5em;
  }
}

.big-title {
  animation: fadein 700ms;
  margin-left: 200px;
}

.pc-header-image {
  width: 100%;
  object-fit: cover;
  transition: 0.7s ease all;
}

.divider {
  width: 70%;
  height: 1px;
  background-color: white;
  margin-bottom: 20px;
  transition: 1.2s ease-in-out;
}

.skills-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  line-height: 5px;
  vertical-align: top;
  row-gap: 0px;
}

.skill {
  color: rgba(255, 255, 255, 0.589);
  transition: 0.7s ease all;
  font-size: 1.2em;
  @media only screen and (max-width: 550px) {
    font-size: 1em;
  }
}

.pc-number {
  font-size: 14px;
  color: white;
  margin-bottom: -30px;
  letter-spacing: 2px;
  @media only screen and (max-width: 600px) {
    margin-bottom: -20px;
  }
}

.pc-intro {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
}
