:root {
  --dark: #2e2c2c;
  --lightBlack: #39393e;
  --middleBlack: rgba(71, 69, 69, 0.2);
}

body {
  margin: 0;

  font-family: 'Outfit', sans-serif;
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
}
